
<p-dropdown [options]="services" [(ngModel)]="selectedService" placeholder="Select Service" [style]="{'width':'150px'}" filter="true" (ngModelChange)="doSomething($event)">
    <ng-template let-item pTemplate="selectedItem">
        <!--<img src="assets/showcase/images/demo/car/{{item.label}}.png" style="width:16px;vertical-align:middle" />-->
        <span style="vertical-align:middle">{{item.label}}</span>
    </ng-template>
    <ng-template let-car pTemplate="item">
        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <!--<img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px"/>-->
            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
        </div>
    </ng-template>
</p-dropdown>
<p>Selected Service: {{selectedService||'none'}}</p>


<div *ngIf="serviceProviderDisplay">
<p-dropdown [options]="serviceProvider" [(ngModel)]="selectedServiceProvider" placeholder="Select Service" [style]="{'width':'150px'}" filter="true" (ngModelChange)="doSomething($event)">
    <ng-template let-item pTemplate="selectedItem">
        <!--<img src="assets/showcase/images/demo/car/{{item.label}}.png" style="width:16px;vertical-align:middle" />-->
        <span style="vertical-align:middle">{{item.label}}</span>
    </ng-template>
    <ng-template let-car pTemplate="item">
        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <!--<img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px"/>-->
            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
        </div>
    </ng-template>
</p-dropdown>
<p>Selected Service Provider: {{selectedService||'none'}}</p>
</div>